.paypal-section {
    background-color: var(--black-color);
    text-align: center;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.paypal-section__link {
    color: var(--green-color);
    text-decoration: none;
}